#control{
    margin:0 auto;
    width: 250px;
    height: 50px;
}
table{
    margin: 0 auto;
    width: 300px;
    height: auto;
    text-align: center;
}
[id$='A']{
    position: fixed;
    left: -600px;
    bottom: 0%;
    width: 550px;
    height: 100px;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 1px 1px 5px 1px darkgray;
    margin: 20px auto;
    background-color: antiquewhite;
    /*display: none;*/
    /*visibility: hidden;*/
    visibility: hidden;
    transition: all .8s;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}
